# Ignore environment folder
ml_env_stress/
mental_stress/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs and system files
*.log
stress_detection.log
.DS_Store
Thumbs.db

# Docker / build artifacts
docker/
catboost_info/

# API cache
api_api_cache/

# Keep important files
!mental_stress.ipynb
!stress.csv
!stacking_model.pkl
!tfidf_vectorizer.pkl
